# Preserve upstream redistribution notices exactly for provenance hashes.
native/licenses/**/*.txt -text whitespace=blank-at-eol,blank-at-eof,space-before-tab,cr-at-eol
native/licenses/DirectStorage/NOTICES.txt -whitespace
